{% extends 'mailing/base.html' %}


{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Управление клиентами</h1>
    <p class="lead">Тут можно работать с профилем получателей рассылки</p>
    <div class="container">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="btn btn-dark" href="{% url 'message:client_create' %}" role="button">Создать получателя</a>
      </li>
    {% endif %}
    </div>

    <div class="row mb-2">
    <div class="col-md-12">

      {% for object in object_list %}

      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Электронная почта: {{object.mail}}</strong>
          <strong class="d-inline-block mb-2 text-primary-emphasis">ФИО: {{object.name}}</strong>
          <strong class="d-inline-block mb-2 text-primary-emphasis">Комментарии: {{object.comment}}</strong>

          {% if user.is_authenticated or user.is_superuser%}
          <strong class="d-inline-block mb-2 text-primary-emphasis">Пользователь: {{object.owner}}</strong>
          {% endif %}
        </div>
      </div>

        <div class="row mb-2">
        {% if user.is_authenticated%}
        <div class="col-md-12">
          <a class="btn btn-dark" href="{% url 'mailing:receive_detail' object.pk %}" role="button">Посмотреть</a>
          <a class="btn btn-dark" href="{% url 'mailing:receive_update' object.pk %}" role="button">Редактировать</a>

          {% if perms.message.delete_client or client.owner == object.user.email %}
            <a class="btn btn-dark" href="{% url 'mailing:receive_delete' object.pk %}" role="button">Удалить</a>
          {% endif %}

        </div>
        {% endif %}
        </div>

      {% endfor %}

    </div>
    </div>
  </div>
</main>
{% endblock %}